@model MVCEvidencijadodatnogobrazovanja.Models.Ustanova

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>Ustanova</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodrucjeRada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodrucjeRada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vrsta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Natrag na listu", "Index")
</p>
